{
    "station":
    [
     {
     "name": "Music Test 1",
     "streamURL": "https://samplelib.com/lib/preview/mp3/sample-3s.mp3",
     "imageURL": "station-absolutecountry.png",
     "desc": "mp3 3 seconds description",
     "longDesc": "All your favorite country hits and artists"
     },
     {
     "name": "Music Test 2",
     "streamURL": "https://samplelib.com/lib/preview/mp3/sample-6s.mp3",
     "imageURL": "az-rock-radio",
     "desc": "mp3 6 seconds description",
     "longDesc": "Web Radio Station from Puerto Rico. Download our App (Apple & Android)"
     },
     {
     "name": "Music Test 3",
     "streamURL": "https://samplelib.com/lib/preview/mp3/sample-9s.mp3",
     "imageURL": "",
     "desc": "mp3 9 seconds description",
     "longDesc": "NZ's number one Rock music station."
     },
     {
     "name": "Music Test 4",
     "streamURL": "https://samplelib.com/lib/preview/mp3/sample-12s.mp3",
     "imageURL": "",
     "desc": "mp3 12 seconds description",
     "longDesc": "Radio is the bomb."
     }
    ]
}
